body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.truongHopSuDungDat_item {
    display: flex;
    margin-left: 6px;
}
.truongHopSuDungDat_title {
    font-size: 16px;
    font-weight: 400;
}
.truongHopSuDungDat_item_name {
    margin-left: 6px;
    font-size: 14px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    color: #000000b3;
    cursor: pointer;
}
.add-infor {
    cursor: pointer;
}
.title_list_item {
    margin: 0;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: #000000b3;
    margin-bottom: 5px !important;
    font-size: 14px;
}
.message_error {
    color: #f44335 !important;
    margin-top: 5px !important;
    font-size: 13px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    font-weight: 400;
    margin-bottom: 0;
}
.scrollMarginTop {
    scroll-margin: 70px;
}

/* fix placeholder auto uppercase */
::-webkit-input-placeholder {
    /* WebKit browsers */
    text-transform: none;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    text-transform: none;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    text-transform: none;
}

.my-header-class {
    background-color: #d9eef8;
    border: 1px solid #d9eef8;
    /* padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center; */
}
[class*='ag-theme-'] {
    --ag-wrapper-border-radius: 8px;
}
.ag-root {
    border-radius: 8px;
}

.ag-theme-alpine .ag-header-cell:hover {
    background-color: #d9eef8 !important;
}
.ag-theme-alpine .ag-header-cell:focus {
    background-color: #d9eef8 !important;
}
.ag-theme-alpine .ag-cell-focus {
    background-color: inherit !important;
    border: none !important;
}

.row-even {
    background-color: #f8f8f8;
}

.row-new:nth-child(1) {
    background-color: #c0d8c1;
}

.row-new:nth-child(2),
.row-new:nth-child(3) {
    background-color: #ccd8cd;
}

.row-new:nth-child(4),
.row-new:nth-child(5) {
    background-color: #d5dbd6;
}

.row-hidden span {
    visibility: hidden;
}

.row-total {
    /* background-color: #9DDE8B; */
    background-color: #ccd6cd;
}

.roboto-thin {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
}
